body{


    .firstEffect {
            position: relative;
    
    h1{
        font-size: 3rem;
        color:orange;
        background-color: purple;
    }//h1
 
    .words{
        position: absolute;
        opacity: 0;
    }
}//firstEffect
}//body