@import "reset.less";

body{

    .firstEffect{
        position: relative;
        font-weight: bold;
        font-size: 5rem;
        color: white;
        background-color: black;

        .words {
            position: absolute;
            margin: auto;
            left: 0;
            top: 0.3rem;
            right: 0;
            opacity: 0;
        }
    }//firstEffect
  
  
}//body